.catalogForm {
  display: flex;
  align-items: flex-end;
  gap: 18px;
  width: 859px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.catalogLabel {
  display: flex;
  gap: 8px;
  flex-direction: column;
  color: var(--main-gray);
  font-size: 14px;
  font-weight: 500;
  line-height: 128.6%;
}

.dropDownMakes,
.dropDownPrices {
  height: 48px;

  border-radius: 14px;
  background: #f7f7fb;
  z-index: 20;
}

.dropDown {
  height: 48px;
  border-radius: 14px;
  z-index: 20;
  width: 224px;
}

.dropDownMakes {
  display: block;
  padding-top: 14px;
  width: 224px;
  border-radius: 14px;
}
.dropDownPrices {
  width: 125px;
  display: block;
  padding-top: 14px;
  border-radius: 14px;
}

.dropDownCtrl {
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  gap: 51px;
  padding: unset;
  background-color: transparent;
}
.dropDownCtrlPrc {
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-left: 18px;
  padding-right: 18px;

  background-color: transparent;
}

.dropDownCtrl:hover {
  box-shadow: none;
}

.dropDownPlaceholderMakes,
.dropDownPlaceholderPrices {
  color: #121417;
  font-size: 18px;
  font-weight: 500;
  line-height: 111.1%;
}

.dropDownPlaceholderMakes {
  width: 117px;
}
.dropDownPlaceholderPrice {
  width: 40px;
}

.dropDownMenu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 272px;
  padding: 14px 8px 14px 18px;
  margin-top: 4px;
  scroll-behavior: auto;
  border-radius: 14px;
  color: rgba(18, 20, 23, 0.2);
  border: 1px solid rgba(18, 20, 23, 0.05);
  outline: none;
  overflow: hidden;
  overflow-y: scroll;

  background: #fff;

  box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.02);
}

.dropDownOption {
  font-size: 16px;
  padding: 0px;
  font-weight: 500;
  line-height: 125%;
  color: rgba(18, 20, 23, 0.2);
}

.dropDownMenu::-webkit-scrollbar {
  width: 8px;
}

.dropDownMenu::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 14px;

  margin-bottom: 14px;
}
.dropDownMenu::-webkit-scrollbar-thumb {
  height: 130px;
  background: rgba(18, 20, 23, 0.05);
  margin-right: 8px;
  border-radius: 10px;
  padding: 8px;
}

.iconArrow {
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
  stroke-width: 2px;
  stroke: #121417;
}
.iconArrowRotate {
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
  stroke: var(--main-black);
  transform: rotate(180deg);
}

.catalogInput {
  outline: none;
  border: none;
  width: 160px;
  height: 48px;
  background-color: var(--main-bg-gray);
  color: var(--main-black);

  font-size: 16px;

  font-weight: 500;
  line-height: 111.11%;
}

.catalogInput:nth-child(2) {
  border-right: 1px solid rgba(138, 138, 137, 0.2);
  border-radius: 14px 0px 0px 14px;
  padding: 14px 14px 14px 75px;
}
.catalogInput:nth-child(3) {
  border-radius: 0px 14px 14px 0px;
  padding: 14px 14px 14px 55px;
}

.catalogInputWrap {
  position: relative;
  display: flex;
}

.catalogInputText {
  color: var(--main-black);
  position: absolute;
  font-size: 18px;

  font-weight: 500;
  line-height: 111.11%;
}

.catalogInputText:first-child {
  top: 14px;
  left: 24px;
}
.catalogInputText:last-child {
  top: 14px;
  right: 115px;
}
